.fixed {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: rgba(3, 117, 134, 0.601);
    border-radius: 3rem;
    bottom: 2rem;
    display: flex !important;
    gap: 0.8rem;
    left: 50%;
    padding: 0.7rem 1.7rem;
    position: fixed;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: -webkit-max-content;
    width: max-content;
    z-index: 2;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}